# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=cnda
DB_USER=root
DB_PASSWORD=

# Application Configuration
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Europe/Paris

# RedBean Configuration
REDBEAN_FREEZE=false
REDBEAN_AUTO_TAINT=true
